@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Press+Start+2P&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  background: #d2e7fe;
}

p {
  font-family: "Montserrat", sans-serif;
}

.title-font {
  font-family: "Press Start 2P", cursive;
}

.corner-shape {
  clip-path: polygon(73% 0, 100% 100%, 0 100%, 0 0);
}

.picture-shape {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 36% 100%, 0 1%);
}
